#########################
### API
#########################

# Server
NODE_ENV=<VALUE>
PORT=<VALUE>
CORS_ORIGINS=<VALUES>
FRONTEND_URL=<VALUE>

# Database
DATABASE_URL=<VALUE>

# Cloudinary
CLOUDINARY_CLOUD=<VALUE>
CLOUDINARY_API_KEY=<VALUE>
CLOUDINARY_API_SECRET=<VALUE>

# Safepay
SAFEPAY_MODE=<VALUE>
SAFEPAY_API_KEY=<VALUE>
SAFEPAY_SECRET_KEY=<VALUE>
SAFEPAY_WEBHOOK_SECRET=<VALUE>
SAFEPAY_REDIRECT_URL=<VALUE>
SAFEPAY_CANCEL_URL=<VALUE>
FALLBACK_USD_TO_PKR_RATE=<VALUE>

# AI 
LLM_PROVIDER=<VALUE>
SESSION_MEMORY_TTL_MINUTES=<VALUE>

GEMINI_API_KEY=<VALUE>
GEMINI_MODEL=<VALUE>

ANTHROPIC_API_KEY=<VALUE>
ANTHROPIC_MODEL=<VALUE>

# Google Calendar
GOOGLE_CALENDAR_ID=<VALUE>
GOOGLE_CLIENT_ID=<VALUE>
GOOGLE_CLIENT_SECRET=<VALUE>
GOOGLE_REFRESH_TOKEN=<VALUE>
GOOGLE_REDIRECT_URI=<VALUE>

# Brevo
BREVO_API_KEY=<VALUE>
BREVO_SENDER_EMAIL=<VALUE>
BREVO_SENDER_NAME=<VALUE>

#########################
### WEB
#########################

# Server
VITE_API_URL=<VALUE>

# Calendly
VITE_BOOKING_URL=<VALUE>
VITE_CALENDLY_URL=<VALUE>

# Claude
ANTHROPIC_API_KEY=<VALUE>
