# Logs
*.log

# Dependency Directories
node_modules
.pnpm-store/

# Compiled
.next
dists
dist
build
out

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment Variable Files
.env
.env*
.env.*
!.env.example

# Developer Directories
.Extras
.vscode
.claude

# Playwright
test-results
blob-report
playwright
playwright-report
playwright/.cache
playwright/.auth

# Turbo
.turbo

# Vercel
.vercel

# Misc
*.pem
